/*!

--- GLOBALS ---

! GLOBAL
! OVERAL
! CONTAINERS
! TYPOGRAPHY 
! COLORS
! BORDER & SHADOW
! GSAP & ! ANIMATIONS
! SIZES
! POSITION
! PADDINGS & MARGINS + FONT SIZE & GAP (MULTIPLIER)
! FLEX
! GRID
! BUTTONS
! MENU & DROPDOWN
! BREADCRUMBS
! GO TOP BUTTON
! BLOCKS
! OTHERS GLOBALS

--- SUBPAGES ---

! HOMEPAGE
! CONTACT
! 404

! FOOTER

--- ECOMMERCE --- 

! ECOMMERCE
! SHOP PAGE
! SINGLE PRODUCT
! CART
! CHECKOUT
! THANK YOU
! MINI CART

--- RWD

! RESPONSIVE
! XXL
! XL
! L
! M
! S
! XS

! MOBILE MENU

*/

/*--- !GLOBAL ---*/

.grecaptcha-badge {
	display: none !important;
}

::selection {
	background: var(--p-400);
	color: #fff;
}

/* 
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background: #fff;
    width: 6px;
} */

html {
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: clip;
	background-color: var(--bg);
	font-family: var(--txt);
}

/*--- !ROOT ---*/

:root {
	--body: #3c3f44 !important;
	--brand: #1d1ee3;
	--primary: #001672;
	--p-hover: #000f4c;

	--p-50: #f2f7fb;
	--p-100: #cbd1ed;
	--p-200: #a5afd9;
	--p-300: #7886be;
	--p-400: #5364ac;
	--p-500: #253a91;
	--p-600: #00125f;
	--p-700: #000f4c;
	--p-800: #000b39;
	--p-900: #000726;
	--p-dark: #000417;

	--secondary: #f56e12;
	--s-hover: #cc5c0f;
	--s-100: #fde2d0;
	--s-200: #fccfb0;
	--s-300: #fab688;
	--s-400: #f89e61;
	--s-500: #f7863a;
	--s-600: #cc5c0f;
	--s-700: #a3490c;
	--s-800: #7b3709;
	--s-900: #522506;
	--s-dark: #311604;

	--text-p-light: var(--p-400);
	--text-p-lighter: var(--p-200);
	--text-s-light: var(--s-300);
	--text-s-lighter: var(--s-100);

	--gray: #adb1bd;
	--bg: #ebf0ff;
	--bg-brand: var(--brand);
	--bg-light: #f3f6ff;
	--bg-dark: var(--p-700);
	--bg-p-light: var(--p-200);
	--bg-p-lighter: var(--p-100);
	--bg-s-light: var(--s-300);
	--bg-s-lighter: var(--s-100);

	--border-p: var(--primary);
	--border-p-light: var(--p-200);
	--border-p-lighter: var(--p-500);
	--border-p-dark: var(--p-800);
	--border-s: var(--s-300);
	--border-s-light: var(--s-200);

	--header: 'cy-text', sans-serif;
	--txt: 'cy-text', sans-serif;
	--btns-font: 'cy-text', sans-serif;

	--smt: 104px;
	--spt: 104px;
	--menu-height: 104px !important;

	--img-xs: 200px;
	--img-s: 240px;
	--img-m: 360px;
	--img-l: 408px;
	--img-xl: 432px;
	--img-2xl: 608px;
	--img-3xl: 776px;

	--section-gap: 40px;
	--m-title: 16px;
	--m-header: 24px;
	--m-btn: 32px;
	--m-img: 40px;
	--radius: 16px;

	--btns-fontsize: 16px;
	--btns-radius: 120px;
	--btns-padding: 16px 40px;

	--footer-py: 156px 0;

	--gradient: linear-gradient(-90deg, var(--primary) 0%, var(--p-700) 100%);
	--gradient-light: linear-gradient(-90deg, var(--primary) 0%, #001fa0 100%);
}

/*--- !CONTAINERS ---*/

.c-main {
	max-width: 1376px !important;
	margin: 0 auto;
	padding-left: 24px !important;
	padding-right: 24px !important;
	width: 100%;
}

.c-wide,
.wide .c-main {
	max-width: 1512px !important;
	margin: 0 auto;
	padding-left: 24px !important;
	padding-right: 24px !important;
	width: 100%;
}

/*--- !OVERALL ---*/

.-menu-mt {
	margin-top: var(--menu-height);
}

.-menu-pt {
	padding-top: var(--menu-height);
}

.-smt {
	margin-top: var(--smt) !important;
}

.-spt {
	padding-top: var(--smt) !important;
}

.img-square {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.img-xs,
.img-xs img {
	height: var(--img-xs);
}

.img-s,
.img-s img {
	height: var(--img-s);
}

.img-m,
.img-m img {
	height: var(--img-m);
}

.img-l {
	height: var(--img-l);
}

.img-xl,
.img-xl img {
	height: var(--img-xl);
}

.img-2xl,
.img-2xl img {
	height: var(--img-2xl);
}

.img-3xl,
.img-3xl img {
	height: var(--img-3xl);
}

.section-py {
	padding: var(--smt) 0;
}

.section-gap {
	gap: var(--section-gap);
}

.section-light {
	background: var(--bg-p-lighter);
	padding: 120px 0;
}

.section-white {
	background-color: #fff;
	padding: var(--smt) 0;
	border-top: 1px solid var(--border-light);
}

.section-s-light {
	background-color: var(--bg-s-light);
	padding: var(--smt) 0;

	.text-light {
		color: var(--s-400) !important;
	}
}

.section-brand {
	background: var(--p-hover);
	padding: var(--smt) 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a {
		color: #fff !important;
	}
}

.section-primary {
	background: var(--primary);
	padding: var(--smt) 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a {
		color: #fff !important;
	}

	.white-btn {
		color: #001672 !important;
	}

	.white-btn:hover {
		color: #fff !important;
	}
}

.section-secondary {
	background: var(--secondary);
	padding: var(--smt) 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a {
		color: #fff !important;
	}
}

.section-gradient {
	background: var(--gradient);
	padding: var(--smt) 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a,
	.accordion-label {
		color: #fff;
	}

	a:hover {
		color: var(--p-300);
	}

	.white-btn {
		color: #001672 !important;
	}

	.white-btn:hover {
		color: #fff !important;
	}
}

.section-gradient-light {
	background: var(--gradient-light);
	padding: var(--smt) 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a,
	.accordion-label {
		color: #fff;
	}

	a:hover {
		color: var(--p-300);
	}

	.white-btn {
		color: #001672 !important;
	}

	.white-btn:hover {
		color: #fff !important;
	}
}

.section-dark {
	background: var(--bg-dark);
	padding: var(--smt) 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a,
	.accordion-label {
		color: #fff;
	}

	a:hover {
		color: var(--p-300);
	}

	.white-btn {
		color: #001672 !important;
	}

	.white-btn:hover {
		color: #fff !important;
	}
}

.m-title {
	padding-bottom: var(--m-title) !important;
}

.m-header {
	margin-bottom: var(--m-header) !important;
}

.m-btn {
	margin-top: var(--m-btn);
}

.m-img {
	margin-bottom: var(--m-img);
}

.__back {
	pointer-events: none !important;
}

.order-flip {
	display: flex;

	.order1:nth-child(1) {
		order: 2;
	}

	.order2:nth-child(2) {
		order: 1;
	}
}

/*--- !TYPOGRAPHY ---*/

.font-header {
	font-family: var(--header);
}

.font-txt {
	font-family: var(--body);
}

p:last-of-type {
	margin-bottom: 0 !important;
}

a {
	color: var(--body);
	text-decoration: none !important;
	transition: all 0.2s ease-out;
}

.subtitle-p {
	display: block;
	font-size: 16px;
	color: var(--p-400);
	padding-bottom: 16px;
}

.subtitle-p:before {
	content: '•';
	margin-right: 8px;
}

.subtitle-s {
	display: block;
	font-size: 16px;
	color: var(--s-400);
	padding-bottom: 16px;
}

.subtitle-s:before {
	content: '•';
	margin-right: 8px;
}

/*--- !HEADERS ---*/

h1,
.text-h1,
h2,
.text-h2,
h3,
.text-h3,
h4,
.text-h4,
h5,
.text-h5,
h6,
.text-h6 {
	font-family: var(--header);
	color: var(--primary);
	font-weight: 600;
}

.big {
	font-size: 90px;
	font-weight: 500;
}

h1,
.text-h1 {
	font-size: 72px !important;
	line-height: 5.5rem;
}

h2,
.text-h2 {
	font-size: 60px !important;
	line-height: 4.3rem;
}

h3,
.text-h3 {
	font-size: 48px !important;
	line-height: 3.3rem;
}

h4,
.text-h4 {
	font-size: 36px !important;
	line-height: 2.4rem;
}

h5,
.text-h5 {
	font-size: 30px !important;
	line-height: 2.5rem;
}

h6,
.text-h6 {
	font-size: 24px !important;
	line-height: 2rem;
}

.title {
	text-transform: uppercase;
}

.title::before {
	content: '';
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	margin-right: 0.5em;
	background-color: var(--text-p-light);
	border-radius: 0px;
}

.text-underline {
	text-decoration: underline;
}

.subheader {
	text-transform: uppercase;
	color: var(--primary);
}

/*--- !COLORS ---*/

.text-white {
	color: #fff;
}

.text-body {
	color: var(--body);
}

.text-p-light {
	color: var(--text-p-light) !important;
}

.text-p-lighter {
	color: var(--text-p-lighter) !important;
}

.text-s-light {
	color: var(--text-s-light) !important;
}

.text-s-lighter {
	color: var(--text-s-lighter) !important;
}

.text-gray {
	color: var(--gray) !important;
}

.text-dark {
	color: var(--p-dark) !important;
}

.text-brand {
	color: var(--brand) !important;
}

.primary {
	color: var(--primary) !important;
}

.secondary {
	color: var(--secondary);
}

.hover {
	color: var(--hover);
}

.bg-brand {
	background-color: var(--bg-brand);
}

.bg-primary {
	background-color: var(--primary);
}

.bg-p-light {
	background-color: var(--bg-p-light);
}

.bg-p-lighter {
	background-color: var(--bg-p-lighter);
}

.bg-p-bright {
	background-color: var(--bg-p-bright);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-s-400 {
	background-color: var(--s-400);
}

.bg-s-light {
	background-color: var(--bg-s-light);
}

.bg-s-lighter {
	background-color: var(--bg-s-lighter);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-s-hover {
	background-color: var(--s-hover);
}

.bg-p-hover {
	background-color: var(--p-hover);
}

.bg-gradient {
	background-image: var(--gradient) !important;
}

.bg-gradient-light {
	background-image: var(--gradient-light) !important;
}

.bg-dark {
	background-color: var(--bg-dark) !important;
}

.bg-white {
	background-color: #fff;
}

.bg-light {
	background-color: var(--bg-light) !important;
}

.bg-lighter {
	background-color: var(--bg-lighter);
}

/*--- !BORDER & SHADOW ---*/

.radius {
	border-radius: var(--radius) !important;
}

.radius-left {
	border-top-left-radius: var(--radius) !important;
	border-bottom-left-radius: var(--radius) !important;
}

.radius-img {
	border-radius: var(--radius) !important;
}

.border-p {
	border: 1px solid var(--border-p) !important;
}

.border-p-lighter {
	border: 1px solid var(--p-500) !important;
}

.border-p-light {
	border: 1px solid var(--border-p-light) !important;
}

.border-p-dark {
	border: 1px solid var(--border-p-dark) !important;
}

.border-s {
	border: 1px solid var(--border-s) !important;
}

.border-s-light {
	border: 1px solid var(--border-s-light) !important;
}

.border-top-p {
	border-top: 1px solid var(--border-p) !important;
}

.dashed-top-p {
	border-top: 1px dashed var(--border-p-light) !important;
}

.border-right-p {
	border-right: 1px solid var(--border-p-light) !important;
}

.border-bottom-p {
	border-bottom: 1px solid var(--border-p-light) !important;
}

.border-left-p {
	border-left: 1px solid var(--border-p) !important;
}

.border-right-p:last-child {
	border-right: 0px !important;
}

.b-shadow {
	box-shadow: 0px 16px 24px 0px rgb(0, 22, 114, 0.15);
	transition: all 0.5s ease-in-out;
}

.b-shadow:hover {
	box-shadow: 0px 8px 16px 0px rgb(0, 22, 114, 0.45);
	transition: all 0.5s ease-in-out;
}

/*--- !BUTTONS ---*/

.pointer {
	cursor: pointer;
}

.main-btn {
	font-family: var(--btns-font);
	font-size: var(--btns-fontsize);
	background: var(--primary);
	color: #fff;
	padding: var(--btns-padding);
	display: inline-block;
	transition: all 0.2s ease-out;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: var(--btns-radius);
	text-decoration: none;
	white-space: nowrap;
	width: max-content;
	height: max-content;
}

.main-btn:hover {
	color: #fff;
	background: var(--p-hover);
	transition: all 0.2s ease-out;
	border: 1px solid transparent;
}

.second-btn {
	font-family: var(--btns-font);
	font-size: var(--btns-fontsize);
	background: var(--secondary);
	color: #fff;
	padding: var(--btns-padding);
	display: inline-block;
	transition: all 0.2s ease-out;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: var(--btns-radius);
	text-decoration: none;
	white-space: nowrap;
	width: max-content;
}

.second-btn:hover {
	background: var(--s-hover);
	color: #fff;
	transition: all 0.2s ease-out;
	border: 1px solid transparent;
}

.dark-btn {
	font-size: 14px;
	background: var(--body);
	color: #fff;
	padding: var(--btns-padding);
	display: inline-block;
	transition: all 0.2s ease-out;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: var(--btns-radius);
	text-decoration: none;
	white-space: nowrap;
	width: max-content;
}

.dark-btn:hover {
	background: var(--hover);
	color: #fff;
	transition: all 0.2s ease-out;
	border: 1px solid transparent;
}

.white-btn {
	font-family: var(--btns-font);
	font-size: var(--btns-fontsize);
	background: #fff;
	color: var(--primary);
	padding: var(--btns-padding);
	display: inline-block;
	transition: all 0.2s ease-out;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: var(--btns-radius);
	text-decoration: none;
	white-space: nowrap;
	width: max-content;
}

.white-btn:hover {
	background: var(--p-300);
	color: #fff;
	transition: all 0.2s ease-out;
	border: 1px solid transparent;
}

.stroke-btn {
	font-family: var(--btns-font);
	font-size: var(--btns-fontsize);
	background: transparent;
	color: var(--primary);
	padding: var(--btns-padding);
	display: inline-block;
	transition: all 0.2s ease-out;
	font-weight: 600;
	border: 1px solid var(--primary);
	border-radius: var(--btns-radius);
	text-decoration: none;
	white-space: nowrap;
	width: max-content;
}

.stroke-btn.is-active {
	background: var(--primary);
	color: #fff;
}

.stroke-btn:hover {
	color: #fff;
	transition: all 0.2s ease-out;
	background-color: var(--p-hover);
	border: 1px solid var(--p-hover);
}

.small-btn {
	font-family: var(--btns-font);
	font-size: var(--btns-fontsize);
	background: var(--secondary);
	color: #fff;
	padding: 8px 24px;
	display: inline-block;
	transition: all 0.2s ease-out;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: var(--btns-radius);
	text-decoration: none;
	white-space: nowrap;
	width: max-content;
}

.small-btn:hover {
	color: #fff;
	background: var(--s-hover);
	transition: all 0.2s ease-out;
	border: 1px solid transparent;
}

.clean-btn {
	font-family: var(--btns-font);
	font-size: var(--btns-fontsize);
	background: transparent;
	color: #fff;
	padding: 20px 32px;
	display: inline-block;
	transition: all 0.2s ease-out;
	font-weight: 600;
	border: 1px solid #fff;
	border-radius: var(--btns-radius);
	text-decoration: none;
	white-space: nowrap;
	width: max-content;
}

.clean-btn:hover {
	color: #fff;
	transition: all 0.2s ease-out;
	background-color: var(--p-hover);
	border: 1px solid var(--p-hover);
}

.underline-btn {
	font-size: 16px;
	background: transparent;
	color: var(--secondary);
	display: inline-block;
	transition: all 0.2s ease-out;
	border-radius: 0;
	font-weight: 600;
	text-decoration: none;
	white-space: nowrap;
	border-bottom: 1px solid var(--secondary);
	width: max-content;
}

.underline-btn::before {
	content: url('http://asystent.local/wp-content/uploads/2025/11/arrow.svg');
	height: 10px;
	width: 10px;
	margin-right: 8px;
	transition: all 0.2s ease-out;
}

.underline-btn:hover {
	transition: all 0.2s ease-out;
}

.underline-btn:hover::before {
	content: url('http://asystent.local/wp-content/uploads/2025/11/arrow.svg');
	height: 10px;
	width: 10px;
	margin-right: 12px;
	transition: all 0.2s ease-out;
}

.menu-btn {
	font-family: var(--btns-font);
	background: var(--primary);
	color: #fff !important;
	padding: 8px 16px !important;
	display: inline-block;
	transition: all 0.2s ease-out;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: var(--btns-radius);
	text-decoration: none;
	white-space: nowrap;
}

.menu-btn:hover {
	color: #fff;
	background: var(--p-hover);
	transition: all 0.2s ease-out;
	border: 1px solid transparent;
}

/*--- INLINE BUTTONS ---*/

.inline-buttons {
	display: flex;
	gap: 16px;
}

/*--- !MENU  ---*/

.fixed-top {
	height: var(--menu-height);
	position: fixed;
	width: 100%;
	max-width: 100%;
	z-index: 49;
	transition: all 0.3s;
	transition-delay: 0s;
	box-shadow: 0 3px 5px rgba(0, 11, 57, 0.2) !important;

	.contact__btn {
		background-color: var(--primary);
		padding: 12px 24px;
		transition: all 0.2s ease-out;
		margin-left: auto;

		a {
			color: var(--body) !important;
		}
	}

	.contact__btn:hover {
		background-color: var(--p-hover);
		padding: 12px 24px;
		transition: all 0.2s ease-out;
	}

	.menu-item {
		border-bottom: 2px solid #FFF;
		transition: all 0.4s ease-out;
	}

	.menu-item:hover {
		border-bottom: 2px solid var(--secondary);
		transition: all 0.4s ease-out;
	}

	.current_page_item {
		border-bottom: 2px dashed var(--secondary);
		transition: all 0.4s ease-out;
	}
}

.fixed-top #menu-menu a {
	color: var(--body) !important;
	font-size: 16px;
	font-weight: 500;
}

.fixed-top.scrollUp {
	transform: translateY(-112px);
	transition: all 0.3s !important;
	box-shadow: 0 3px 5px rgba(27, 106, 23, 0.2) !important;
}

.fixed-top.scrollDown {
	background-color: #fff !important;
	box-shadow: 0 3px 5px rgba(27, 106, 23, 0.2) !important;
}

.fixed-top.scrollDown .nav-link {
	color: var(--body);
}

.mobile-menu {
	z-index: 99999;
}

#mobile-menu-panel {
	li a {
		color: var(--primary);
		font-size: 20px;
		font-weight: 500;
	}

	li a:hover {
		color: var(--text-p-light);
	}
}

/*--- !BLOCKS ---*/

/*--- !INPUT CONTACT ---*/

input[type='checkbox'] {
	margin-right: 16px;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
	color: var(--color-gray-500);
	background-color: var(--color-gray-400);
}

.wpcf7-not-valid-tip {
	color: #dc3232;
	font-size: 13px;
	font-weight: normal;
	display: block;
	/* bottom: 0; */
	/* position: absolute; */
	background: #fff;
	margin-top: -13px;
	z-index: 9;
	position: relative;
	width: max-content;
	padding: 2px 8px;
	border-radius: 10px;
}

.wpcf7 form .wpcf7-response-output {
	border: none;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	border-bottom: 1px dashed var(--secondary) !important;
	width: max-content;
	color: #fff;
}

/*--- !OFFERS ---*/

.offers {
	.__tile {
		transition: all 0.5s;

		b {
			color: var(--body);
		}

		.__arrow {
			path {
				fill: var(--secondary);
			}
		}
	}

	.__tile:hover {
		background-color: var(--bg-lighter);
		transition: all 0.5s;
		transform: translateY(-5px);

		b {
			color: var(--body);
		}
	}
}

/*--- !MAP ---*/

.map {
	iframe {
		width: 100%;
		min-height: 600px;
	}
}

/*--- !BLOG ---*/

.__single-card:hover,
.featured-post:hover {

	h4 a,
	h6 a {
		color: var(--primary)
	}
}

.blog-btn {
	padding: 18px 16px;
	transition: all 0.3s;
}

.featured-post a:hover .blog-btn,
article.post:hover .blog-btn {
	background-color: var(--p-500);
	transition: all 0.3s;

	path {
		fill: #fff;
	}
}

.featured-post img.__thumb,
article.post img {
	width: 100%;
	display: block;
	transition: transform 0.4s ease-in-out;
}

.featured-post:hover img.__thumb,
article.post:hover img.__thumb {
	transform: scale(1.1) rotate(2deg);
}

/*--- !SINGLE ---*/

.toc ul li {
	border-left: 2px solid #ccc;
	padding-left: 24px;
	margin-bottom: 16px;
}

.toc ul li.active {
	border-left-color: red;
}


.single-post {

	.wysiwyg,
	.cta {
		width: 75%;
		margin: 0 auto;
	}

	.wysiwyg {
		h3:first-child {
			font-size: 30px !important;
			margin-top: 0px;
			margin-bottom: 8px;
		}
	}

	.__content {
		ol {
			list-style: auto;
			padding-left: 24px;
			line-height: 2rem;
		}
	}

	.__entry {
		h2 {
			font-size: 36px !important;
			line-height: 2.7rem;
			margin-top: 24px;
			margin-bottom: 8px;
		}

		h3 {
			font-size: 30px !important;
			line-height: 2.4rem;
			margin-top: 24px;
			margin-bottom: 8px;
		}

		ul {
			list-style-type: disc;
			padding-left: 24px;
			margin-top: 8px;
		}

		.b-image {
			margin-top: 56px !important;
			margin-bottom: 56px;
		}

		.image .c-main {
			padding: 0 !important;
		}
	}

	.related-posts {
		border-top: 1px solid var(--border);
	}
}

/*--- !FOOTER ---*/

.footer-py {
	padding: var(--footer-py);
}

.footer {
	.text-2.widget_text {
		margin-bottom: 40px;
	}

	.__widgets {
		color: rgba(255, 255, 255, 0.7);

		p {
			color: rgba(255, 255, 255, 0.7);
		}

		a {
			color: rgba(255, 255, 255, 0.7);
			transition: all 0.3s;
		}

		a:hover {
			color: rgba(255, 255, 255, 1);
			transition: all 0.3s;
		}

		ul.sub-menu {
			display: none;
		}

		@media (max-width: 1024px) {
			grid-template-columns: 1fr 1fr;

			.footer_widget.nav_menu-5 {
				ul {
					display: grid;
					grid-template-columns: 1fr;
				}
			}
		}

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}

	.footer_widget {
		.menu {
			line-height: 2.5rem;
		}
	}
}

/*--- !FOOTER - CTA ---*/
.footer__cta {
	.__phone::before {
		content: url('http://asystent.local/wp-content/uploads/2025/11/phone.svg');
		margin-right: 12px;
		position: relative;
		top: 6px;
	}

	.__mail::before {
		content: url('http://asystent.local/wp-content/uploads/2025/11/mail.svg');
		margin-right: 12px;
		position: relative;
		top: 6px;
	}
}

/*--- FOOTER MOBILE ---*/

/* Ukryj menu na telefonach */
@media (max-width: 768px) {
	.footer_widget {
		margin-bottom: 0px;
	}

	.footer__widget::first-child {
		margin-bottom: 48px !important;
	}

	.menu {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s;
	}

	.footer_widget.open .menu {
		max-height: 500px;
		/* Ustaw odpowiednią wartość */
	}

	.widget-title::after {
		content: url('http://asystent.local/wp-content/uploads/2025/11/down-arrow.svg');
		position: absolute;
		/*top: 50%;*/
		right: 10px;
		/* transform: translateY(-50%);*/
		transition: transform 0.3s;
		display: block !important;
		width: 12px;
	}

	.footer_widget.open .widget-title::after {
		content: url('http://asystent.local/wp-content/uploads/2025/11/down-arrow.svg');
		position: absolute;
		/*top: 50%;*/
		right: 10px;
		transform: scaleY(-1);
		transition: transform 0.3s;
		display: block !important;
		width: 12px;
		margin-top: -4px;
	}

	.__widget {
		width: 100%;
	}

	footer h2.widget-title {
		margin-bottom: 0px !important;
	}
}

[x-cloak] {
	display: none !important;
}

/*--- !MOBILE ---*/

/*---- !2XL --*/
@media only screen and (max-width: 1536px) {
	:root {}
}

/*---- !XL --*/
@media only screen and (max-width: 1280px) {
	:root {}
}

/*---- !LG --*/
@media only screen and (max-width: 1024px) {
	:root {
		--img-xxl: 520px;
		--img-l: 320px;
	}

	:root {
		.area img {
			--img-xl: 100%;
		}
	}

	.order-flip {
		.order1:nth-child(1) {
			order: 1;
		}

		.order2:nth-child(2) {
			order: 2;
		}
	}

	h1,
	.text-h1 {
		font-size: 42px !important;
		line-height: 3rem;
	}

	.small-btn {
		font-size: 14px;
		padding: 8px 8px;
	}

	.fixed-top #menu-menu a {
		font-size: 15px;
		white-space: nowrap;
	}
}

/*---- !MD --*/
@media only screen and (max-width: 768px) {
	:root {
		--img-xl: 424px;
		--menu-height: 72px !important;
		--smt: 72px;
	}

	.inline-buttons {
		display: grid;
		gap: 24px;
	}

	.inline-buttons .left-btn {
		margin-right: 0;
	}

	.inline-buttons a {
		width: 100% !important;
		text-align: center !important;
	}

	.single-post {

		.wysiwyg,
		.cta {
			width: 100%;
			margin: 0 auto;
		}
	}

}

/*---- !SM --*/
@media only screen and (max-width: 640px) {
	:root {
		--smt: 72px;
		--img-m: 240px;
		--img-l: 240px;
		--img-2xl: 320px;
		--btns-padding: 16px 24px;
	}

	h1,
	.text-h1 {
		font-size: 32px !important;
		line-height: 3rem;
	}

	h2,
	.text-h2 {
		font-size: 32px !important;
		line-height: 2.8rem;
	}

	h3,
	.text-h3 {
		font-size: 30px !important;
		line-height: 2rem;
	}

	h4,
	.text-h4 {
		font-size: 24px !important;
	}

	h5,
	.text-h5 {
		font-size: 22px !important;
		line-height: 2rem;
	}

	h6,
	.text-h6 {
		font-size: 20px !important;
	}
}

/*---- !XS --*/
@media only screen and (max-width: 430px) {
	:root {
		--img-xl: 320px;
	}
}