.block-category-posts {
  .__img img {
    object-fit: cover;
    border-radius: 8px;
  }
  .__card .__img {
    overflow: hidden;
    border-radius: 0.75rem;
    position: relative;
  }

  .__card .__img img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease-in-out;
  }

  .__card:hover .__img img {
    transform: scale(1.1);
  }

  .__card h6 {
	min-height: 96px;
	min-height: 96px;
  }

  .__card:hover h6 a {
	color:var(--primary) !important;
  }
}
