.b-connect {
  .__phone,
  .__mail {
    display: flex;
    align-items: center;
    width: max-content;
  }

  .__phone:hover,
  .__mail:hover {
    color: #fff !important;
  }

  .__phone::before {
    content: url('/wp-content/uploads/2025/11/phone.svg');
    margin-right: 8px;
    position: relative;
    display: inline-block;
    top: 2px;
  }

  .__mail::before {
    content: url('/wp-content/uploads/2025/11/mail.svg');
    margin-right: 8px;
    position: relative;
    display: inline-block;
    top: 2px;
  }

  .__form {
    label {
      margin-top: 16px;
      display: block;
    }

    label {
      display: block;
      font-weight: 600;
      font-size: 14px;
      color: #fff;
      margin-bottom: 4px;
      margin-top: 12px;
    }

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    select,
    textarea {
      width: 100%;
      background-color: #FFF;
      border: none;
      color: var(--p-800);
      border: 1px solid var(--border-p-lighter);
      padding: 12px 16px;
      transition: all 0.2s ease-out;
      border-radius: 4px;
      font-size: 16px;
    }

    input::placeholder,
    textarea::placeholder {
      color: var(--p-300);
      opacity: 1;
    }

    input[type='text']:focus,
    input[type='tel']:focus,
    input[type='email']:focus,
    textarea:focus {
      width: 100%;
      border: 1px dashed var(--secondary);
      outline: none;
      transition: all 0.2s ease-out;
    }

    textarea {
      height: 120px;
    }

    .wpcf7-list-item {
      margin-left: 0 !important;

      label {
        display: flex;
        align-items: start;
        font-weight: 400;
        color: #fff;

        input[type='checkbox'] {
          top: 4px;
          position: relative;
        }
      }

      a {
        color: #fff;
        opacity: 0.6;
      }

      a:hover {
        color: #fff;
        opacity: 0.3;
      }
    }
  }
}
