.b-content {
	.__txt {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		a {
			color:var(--primary) !important;
		}

		/* UL – zwykłe bullet points */
		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: disc inside;
			padding-left: 0;

			li {
				margin-bottom: 0.5em;
			}
		}

		/* OL – klasyczne numerki */
		ol {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: decimal inside;
			padding-left: 0;

			li {
				margin-bottom: 0.5em;
			}
		}

		/* ZAGNIEŻDŻONE listy – także standardowe */
		ul ul,
		ol ul {
			list-style: disc inside;
			margin: 6px 0 12px;
			padding-left: 1.2rem;
		}

		ul ol,
		ol ol {
			list-style: decimal inside;
			margin: 6px 0 12px;
			padding-left: 1.2rem;
		}
	}
}
