.b-content {
	.__txt {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		/* GŁÓWNE (PIERWSZY POZIOM) UL */
		> ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: disc;
			padding-left: 1.4rem;

			> li {
				margin-bottom: 0.5em;
			}
		}

		/* GŁÓWNE (PIERWSZY POZIOM) OL */
		> ol {
			list-style: decimal;
			margin-left: 1.5rem;
			margin-bottom: 16px;

			> li {
				margin-bottom: 0.5em;
			}
		}

		/* ZAGNIEŻDŻONE UL – zwykłe kropki, mniejsze marginesy */
		ul ul,
		ol ul {
			margin-top: 4px;
			margin-bottom: 12px;
			list-style: disc;
			padding-left: 1.4rem;

			li {
				margin-bottom: 0.25em;
			}
		}

		/* ZAGNIEŻDŻONE OL – np. literki */
		ul ol,
		ol ol {
			margin-top: 4px;
			margin-bottom: 12px;
			padding-left: 1.4rem;
			list-style: lower-alpha; // możesz zmienić np. na decimal

			li {
				margin-bottom: 0.25em;
			}
		}
	}
}
