.b-content {
	.__txt {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: disc inside;
			padding-left: 0;

			li {
				position: relative;
				padding-left: 24px;
				margin-bottom: 0.5em;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 4px;
					width: 16px;
					height: 16px;
					background-image: url('/wp-content/uploads/2025/11/check.svg');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}

		ol {
			list-style: decimal inside;
		}
	}
}
